<form>
  <div class="input-group">
    <p>
      <label for="initialinvestment">Initial Investment</label>
      <input type="number">
    </p>
    <p>
      <label for="annualinvestment">Annual Investment</label>
      <input type="number">
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expectedreturn">Expected Return</label>
      <input type="number">
    </p>
    <p>
      <label for="duration">Duration</label>
      <input type="number">
    </p>
  </div>
  <p>
    <button>Calculate</button>
  </p>
</form>
